<% include ./partials/navbar %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <% include ./partials/messages %>
     
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div class="form-group ">
          <label for="type">User Type</label>
          <select onchange = "val()" name="type" id="type" class="type custom-select">
            <option selected>Choose...</option>
            <option value="doctor">Doctor</option>
            <option value="patient">Patient</option>
          </select>
        </div>
        <div id="doctor" style="display: none;">
          <div class="form-group">
            <label for="providerID">Provider ID</label>
            <input
              type="providerID"
              id="providerID"
              name="providerID"
              class="form-control"
              placeholder="Enter Provider ID"
              value="<%= typeof providerID != 'undefined' ? providerID : '' %>"
            />
          </div>
        </div>
        <div id="patient" style="display: none;">
          <div class="form-group">
            <label for="age">Age</label>
            <input
              type="age"
              id="age"
              name="age"
              class="form-control"
              placeholder="Enter Age"
              value="<%= typeof age != 'undefined' ? age : '' %>"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="addressLine1">addressline1</label>
          <input
            type="addressLine1"
            id="addressLine1"
            name="addressLine1"
            class="form-control"
            placeholder="Enter Addressline1"
            value="<%= typeof addressLine1 != 'undefined' ? addressLine1 : '' %>"
          />
        </div>
        
        <div class="form-group">
          <label for="suburb">suburb</label>
          <input
            type="suburb"
            id="suburb"
            name="suburb"
            class="form-control"
            placeholder="Enter suburb"
            value="<%= typeof suburb != 'undefined' ? suburb : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input
            type="state"
            id="state"
            name="state"
            class="form-control"
            placeholder="Enter State"
            value="<%= typeof state != 'undefined' ? state : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="pincode">pincode</label>
          <input
            type="pincode"
            id="pincode"
            name="pincode"
            class="form-control"
            placeholder="Enter pincode"
            value="<%= typeof pincode != 'undefined' ? pincode : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>
<script>
 function val() {
    e = document.getElementById("type").value;
    var d = document.getElementById("doctor");
    var p = document.getElementById("patient");
    console.log(e);
    if(e =='doctor'){
      d.style.display = "block";
      p.style.display = "none";
    }
    else{
      d.style.display = "none";
      p.style.display = "block";
    }
  }
</script>